<h1 class="display-3 text-center" style="text-shadow: 3px 3px red;">
  Welcome to Company-Y Portal
</h1>
<br />
<br />
<br />
<div class="jumbotron">
  <h1 class="mb-4 display-5 text-center" style="text-shadow: 1px 1px red;">
    A Sail.js application for managing company Y operations
  </h1>
  <br />
  <br />
  <a href="/parts541" class="btn btn-dark btn-block">Start Operations</a>
</div>
