<h1 class="display-3" style="text-shadow: 3px 3px red;">
  Welcome to company-Y Part-Base
</h1>
<br />
<br />
<br />
<div class="jumbotron">
  <p
    class="mb-4 display-4"
    style="text-align: center; text-shadow: 1px 1px red;"
  >
    Portal for managing Parts
  </p>
  <div class="container" style="text-align: center;">
    <a href="/parts541/parts" class="btn btn-lg btn-primary">View Parts</a>
    <a href="/parts541/addPart" class="btn btn-lg btn-primary">Add Parts </a>
    <a href="/parts541/findPart" class="btn btn-lg btn-primary">Find a Part </a>
    <a href="/orders705/searchorder" class="btn btn-lg btn-primary">See Orders</a>
  </div>
</div>
