<h1 class="display-4">Jobs</h1>
<div class="list-group">
    <% jobs.forEach(function(job){ %>
        <a href="#" class="list-group-item list-group-item-action">
            <%= job.id %>
        </a>
    <% }) %>
</div>