<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<script type="text/javascript">
  function postThing(){
    io.socket.post('/jobs/validate', {username: document.getElementById("username").value, password:document.getElementById("password").value}, function responseFromServer (body, response) {
    console.log("The server responded with status " + response.statusCode + " and said: ", body);
  });
}
  </script>

<h1 class="display-4"><%= jobName %></h1>
<table class="table table-hover">
    <tbody>
        <thead>
            <th>Part Name</th>
            <th>Part Quantity</th>
        </thead>
        <% parts.forEach(function(part, index){ %>
            <tr>
                <td><%= part.partName %></td>
                <td><%= part.qoh %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Place Order</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Authentication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label for="username" class="col-form-label">Username:</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div>
          <label for="password" class="col-form-label">Password:</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <!-- <form method="post" action="/jobs/validate">
          <div class="form-group">
            <label for="username" class="col-form-label">Username:</label>
            <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" name="password">
          </div>
          <div class="form-group">
            <input type="text" hidden class="form-control" name="parts">
          </div>
          <div class="form-group modal-footer">
            <input type="button" class="btn btn-secondary" value="Close" data-dismiss="modal">
            <input type="submit" value="Login" class="btn btn-primary">
          </div>
        </form> -->
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-secondary" value="Close" data-dismiss="modal">
        <input type="button" onclick="Javascript:postThing();" value="Login" class="btn btn-primary">
      </div>
    </div>
  </div>
</div>