<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/part541/parts" > Parts </a> </li>
    <li class="breadcrumb-item active"> Add </li>
</ol>

<h1 class="display-4">Add a Job</h1>
<form method="POST" action="/parts541/createPart">
    <div class="form-group">
        <label for="partID"> Part ID </label>
        <input type="number" placeholder="partID" name=Part[partId] class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="name"> Name </label>
        <input type="text" placeholder="part name" name=Part[partName] class="form-control">
    </div>
    <div class="form-group">
        <label for="quantity"> Quantity </label>
        <input type="number" placeholder="quantity" name=Part[qoh] class="form-control"></input>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>