<style>
  table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>


<h1 class="display-4">Parts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Job Name</th>
      <th>User Id</th>
      <th>Part Id</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% for(var i=0; i <Orders.length; i++ ){ %>
    <tr>
      <td><%= Orders[i]['jobName'] %></td>
      <td><%= Orders[i]['userId']%></td>
      <td><%= Orders[i]['partId'] %></td>
      <td><%= Orders[i]['qty'] %></td>
    </div>

    </tr>
    <% } %>
  </tbody>
</table>

<a href="/parts541/"> Back to Home </a>
