<h1 class="display-4">Search Orders</h1>
<form method="POST" action="/orders705/fetchorders">
    <div class="form-group">
        <label for="partID"> Part ID </label>
        <input type="text" placeholder="jobName"  name=Part[jobName] class="form-control"></input>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

