<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/parts541/parts"> Parts </a></li>
  <li class="breadcrumb-item active">Part</li>
</ol>

<h1 class="display-4">Searched Part</h1>
<form>
  <div>
    <label for="partID"> partID : <%= Part[0].partId%> </label>
  </div>
  <div>
    <label for="name"> Part Name : <%= Part[0].partName%> </label>
  </div>
  <div>
    <label for="Quantity"> Quantity on Hand : <%= Part[0].qoh%> </label>
  </div>
  <a href="/parts541/"> Back to Home </a>
</form>
