<body>
    <h1>Go, enter your data! </h1>
    <form action="/addData" method="POST">
        <input type="text", name="jobId", placeholder="Enter Job ID", required>
        <input type="text", name="partId", placeholder="Enter Part ID", required>
        <input type="text", name="qty", placeholder="Enter Quantity", required>
        <button> Submit </button>
    </form><br>
    <form action="/">
        <button>Home </button>
    </form><br>
    <form action="/viewData">
        <button>View Data </button>
    </form>
</body>