<h1 class="display-4">Update Quantity</h1>
  <form method="POST" action="/updateData/<%=id%>/<%=partId%>">
    <div>
      <label for="name"> jobid : <%=id%> </label>
    </div>
    <div class="form-group">
      <label for="name"> partId : <%= partId%> </label>
    </div>
    <div>
      <input
        type="number"
        placeholder="quantity"
        name="qty"
        class="form-control"
      />
    </div>
  
    <input type="submit" value="Submit" class="btn btn-primary" />
  </form>
  