<h1 class="display-4">Welcome to Company X<h1>
    <form action="/viewData">
      <button class="btn btn-light" >View Jobs </button>
    </form>
    <form action="/addData">
      <button class="btn btn-light">Add Job </button>
    </form>
    <form action="/searchJob">
      <button class="btn btn-light">Search Orders</button>
    </form>
