<style>
    table, th, td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
    <h1>Orders Info</h1><br>
    <table>
        <thread>
            <tr>
                <th>User ID </th>
                <th>Job ID </th>
                <th>Part ID </th>
                <th>Quantity </th>
            </tr>
        </thread>
        <tbody><% ordersInfo.forEach(function(order){ %><tr>
            <td><%= order.id %> </td>
            <td><%= order.jobName %> </td>
            <td><%= order.partId %> </td>
            <td><%= order.qty %> </td>
            </tr><% }) %>
        </tbody>
    </table>
</body><br>
<form action="/">
    <button>Home </button>
</form><br>
<form action="/addData">
    <button>Add Data </button>
</form>