<body>
    <h1 class="display-4">Search order by entering Job name! </h1>
    <form action="/searchOrders" method="POST">
        <input type="text", name="jobId", placeholder="Enter Job Name", required>
        <button class="btn btn-primary"> Search </button>
    </form><br>
    <form action="/">
        <button class="btn btn-light">Home </button>
    </form><br>
    <form action="/viewData">
        <button class="btn btn-light">View Data </button>
    </form>
</body>