<body>
    <h1>Search order by entering Job name! </h1>
    <form action="/searchOrders" method="POST">
        <input type="text", name="jobId", placeholder="Enter Job Name", required>
        <button> Search </button>
    </form><br>
    <form action="/">
        <button>Home </button>
    </form><br>
    <form action="/viewData">
        <button>View Data </button>
    </form>
</body>